<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Todolist</title>
</head>

<body>
    <h1>My Todolist</h1>
    <ul>
        <% todolist.forEach(function(todo, index){ %>
        <li><a href="/todo/supprimer/<%= index %>">&#10007</a> <%= todo %></li>
        <% }); %>
    </ul>
    <form action="/todo/ajouter/" method="POST">
        <label for="newtodo">Que dois-je faire</label>
        <input type="text" name="newtodo" id="newtodo">
        <input type="submit" value="ajouter">
    </form>
</body>

</html>